h2{
    text-align: center;
}

#allproduct{
    
        background-color: rgb(234, 245, 90);
        
       
       
       
     
     
}

#bt{
  margin-left:  18px;
  padding-top: 1px;
  padding-bottom: 0.5px;
  margin-bottom: 10px;
}